.places{
  color: #fff;
  max-width: 984px;
  margin: 0 auto;
  padding: 92px 0;
}
@media screen and (max-width: 1230px){
  .places{
    max-width: 928px;
  }
}
@media screen and (max-width: 1000px){
  .places{
    max-width: 720px;
  }
}
@media screen and (max-width: 767px){
  .places{
    max-width: 320px;
  }
}

